@font-face {
    font-family: 'Dosis Regular';
    src: url('./fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('./fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 17px "Roboto Regular", Arial, sans-serif;
    color: #222;
    background-color: rgb(81, 29, 71);
}

a {
    text-decoration: none;
}

#bg {
    min-height: 100%;
    background: rgb(240,206,104);
    background: linear-gradient(180deg, rgba(240,206,104,1) 0%, rgba(255,186,51,1) 100%);
}

#bg #w {
    width: 100%;
    margin: 0 auto;
    padding: 70px 0 0 0;
    text-align: center;
}

#bg #winfo {
    position: fixed;
    bottom: 20px;
    text-align: center;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

#bg a#logo {
    display: inline-block;
}

#bg a#logo img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

#bg h1 {
    font-weight: normal;
    font-family: "Dosis Regular", Arial, sans-serif;
    margin: 25px 0 15px 0;
    color: #222;
    font-size: 56px;
}

#bg p {
    margin: 10px 0 15px 0;
}

#bg p.lead {
    margin: 0 0 25px 0;
}

#bg a {
    color: #a44500;
}

#bg a:hover {
    color: #ff72a1;
}

#bg a.big-butt {
    font-family: "Roboto Regular", sans-serif;
    background-color: #02a388;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
}

#bg a.big-butt:hover {
    background-color: #ff72a1;
    color: #fff;
}

@media all and (max-width: 1500px) {
    #bg {
        /* background-position: top -200px center; */
    }
}

@media all and (max-width: 1350px) {
    #bg a#logo img {
        width: 130px;
    }

    #bg h1 {
        font-size: 50px;
        margin-top: 15px;
    }
}

@media all and (max-width: 1250px) {
    #bg {
        /* background-size: 110% auto; */
        /* background-position: top -150px center; */
    }

    #bg #w {
        /* padding-top: 45px; */
    }
}

@media all and (max-width: 1100px) {
    #bg {
        background-size: 120% auto;
    }
}

@media all and (max-width: 1000px) {
    #bg {
        /* background-size: 130% auto; */
    }
}

@media all and (max-width: 900px) {
    #bg {
       
    }
}

@media all and (max-width: 900px) {
    #bg a#logo img {
        width: 100px;
    }

    #bg h1 {
        font-size: 40px;
        margin-top: 10px;
    }

    #bg p {
        font-size: 15px;
    }
}

@media all and (max-width: 800px) {
    #bg {
        /* background-size: 1200px auto; */
    }
}

@media all and (max-width: 500px) {
    #bg {
        /* background-size: 1100px auto; */
    }
}
